<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="6">
        <div class="control-section template-carousel-section">
          <div>
            <div class="carousel-sample center">
              <ejs-carousel #carousel cssClass="templateCarousel" [animationEffect]="carouselAnimation">
                <e-carousel-items>
                  <e-carousel-item *ngFor="let item of imagesFile">
                    <ng-template #template>
                      <figure class="img-container">
                        <img src="{{item.attachedFile}}" alt="cardinal"
                          style="height: 400px; width: 100%; border-radius:5%; " />
                      </figure>
                    </ng-template>
                  </e-carousel-item>
                </e-carousel-items>
              </ejs-carousel>
            </div>
          </div>
        </div>
        <br />
      </c-col>
      <c-col>
        <h4 class="card-title mb-0" id="traffic"> {{object.name}}</h4>
        <BR>
        <label cLabel for="exampleFormControlInput1">Catégorie {{ this.object == null ? "":
          this.object!.itemCategory!.description}}</label>

        <BR>
        <input cFormControl type="text" hidden="true" [(ngModel)]="object.id" name="id" placeholder="Id" />
        <label cLabel for="exampleFormControlInput1">Nom</label>
        <input cFormControl type="text" [(ngModel)]="object.name" readonly="true" name="name" placeholder="Nom"
          style="margin-bottom: 10px;" />
        <label cLabel for="exampleFormControlInput1">Description</label>
        <input cFormControl type="text" [(ngModel)]="object.description" readonly="true" name="description"
          placeholder="Description" style="margin-bottom: 10px;" />
        <label cLabel for="exampleFormControlInput1">Prix</label>
        <input cFormControl type="number" [(ngModel)]="object.price" readonly="true" name="price" placeholder="Prix"
          style="margin-bottom: 10px;" />
        <label cLabel for="exampleFormControlInput1">Stock</label>
        <input cFormControl type="number" [(ngModel)]="object.quantity" readonly="true" name="quantity"
          placeholder="Quantité" style="margin-bottom: 10px;" />


        <div class="d-grid gap-2">

          <button cButton color="light">AJOUTER AU PANIER</button>
          <button class="cButton btn btn-success text-white">
            <svg [cIcon]="icons.cilCheckCircle" size="xl" title="List Icon"></svg>
            <i class="fa fa--cart"></i> VALIDER ET ACHETER
          </button>

        </div>
      </c-col>
    </c-row>

  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
      </c-col>
      <c-col class="mb-sm-2 mb-0">
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>